@import "tailwindcss";
@config "../tailwind.config.js";
@import "@heroui/styles";

:root {
  --accent: #005456;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s infinite;
}

.no-scrollbar {
  /* Chrome, Edge, Safari */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE et Edge Legacy */
}

/* Chrome, Edge, Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}


.leaflet-container {
  z-index: 0;
}
.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}
.leaflet-control {
  z-index: 1 !important;
}
.leaflet-popup {
  z-index: 2 !important;
}